
<section id="main" class="wrapper">
	<div class="container">

			<h1 class="subtituloNovedades">Acerca de</h1>
			<div align="center">
			<img src="http://fotos.subefotos.com/efe627d1c1b02cdb582f3b57e9b0a775o.jpg" alt="Foto Historias" 
			style="width:550px;height:440px;">
			</div>

			<p>ScrumMaster es una aplicación de gestión de proyectos en la cual se pueden manejar proyectos simples o complehos, para las personas o entidades dedicadas al desarrollo de software. Se realiza un seguimiento del progreso de un proyecto, visualización de tareas, visualización de estadisticas y muchas más utilidades. El diseño de ScrumMaster es limpio y elegante.</p>
            <hr>
            <div align="center">
			<img src="http://fotos.subefotos.com/6916923ce94bb58024fe7513f42acfffo.jpg" alt="Foto Historias" 
			style="width:550px;height:450px;">
			</div>
			<hr>
			<div align="center">
			<img src="http://fotos.subefotos.com/3883ddd458051a30a330196abfef645do.jpg" alt="Foto Historias" 
			style="width:550px;height:440px;">
			</div>
		
	</div>
</section>