<h1 style="font-size:300%;">Acerca de</h1>
<div align="center">
<img src="http://fotos.subefotos.com/efe627d1c1b02cdb582f3b57e9b0a775o.jpg" alt="Foto Historias" 
style="width:550px;height:440px;">
</div>

<p>Scrum es una aplicaci칩n de gesti칩n de proyectos en los cuales se podran manejar proyectos simples y complejos, para las personas o entidades dedicadas al desarrollado de software. Se realiza un seguimiento del progreso de un proyecto, visualizacion de tareas, visualizacion de estadisticas y muchas mas utilidades. El dise침o de scrum es limpio y tiene un dise침o elegante, nuestro enfoque al desarrollar la aplicacion fue hacerla simple pero completa para que en pocos pasos se realicen muchas cosas.</p>

<img src="http://fotos.subefotos.com/6916923ce94bb58024fe7513f42acfffo.jpg" alt="Foto Historias" 
style="width:550px;height:450px;">

<img src="http://fotos.subefotos.com/3883ddd458051a30a330196abfef645do.jpg" alt="Foto Historias" 
style="width:550px;height:440px;">
