<section id="banner">
				<h2>Scrum Master</h2>
				<p> Scrum master es una plataforma de gestión de proyectos 
		    	<br>
		    	para desarrolladores ágiles y diseñadores que quieren algo simple, una poderosa 
		    	<br>
		    	herramienta que ayuda a que el  trabajo sea simple</p>
		    <%= link_to "Registrarse" , "/users/sign_up", class: "button big" %>

</section>