<section id="banner">
				<h2>ScrumMaster</h2>
				<p> ScrumMaster es una plataforma de gestión de proyectos 
		    	<br>
		    	para desarrolladores ágiles y diseñadores que quieren algo simple, una poderosa 
		    	<br>
		    	herramienta que ayuda a que el  trabajo sea sencillo.</p>
		    <%= link_to "Registrarse" , "/users/sign_up", class: "button big" %>
</section>