<section id="three" class="wrapper style3 special">
				<div class="container">
					<header class="major">
						<h2>Iniciar sesíon</h2>
						<p> </p>
					</header>
				</div>
				<div class="container 50%">
					<form action="#" method="post">
						<div align="center" style="margin:0 auto 0 auto; ">
							<div class="6u 12u$(small)">
								<input name="name" id="name" value="" placeholder="Name" type="text">
							</div>
							<br>
							<div class="6u$ 12u$(small)">
								<input name="Contraseña" id="email" value="" placeholder="Email" type="email">
							</div>
							<br>
							<div class="12u$">
								<ul class="actions">
									<li><input value="Iniciar" class="special big" type="submit"></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</section>