<head>
<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
</head>
<section id="main" class="wrapper">
<div class= "container">
<div align="center">
<h2>Estadísticas</h2>
</div>
<%= link_to taskboard_path(:id => @id), class: "button styleIcon" do %>
	TaskBoard
<% end %>
<%= line_chart [[1, 8],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14]], xtitle: "Dias", ytitle: "Horas respecto a las tareas" %>
</div>
</section>
