<head>
<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
</head>
<div align="center">
<h2>Estadisticas</h2>
</div>
<%= line_chart [[1, 8],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14]], xtitle: "Dias", ytitle: "Horas respecto a las tareas" %>
