<section id="main" class="wrapper">
				<header class="major">
				  
					<div align="center"><%= link_to "Crear Proyecto" , "/projects/new", class:"button" %><br></div>

					<h2><%= @proyecto.proy_nombre %></h2>
					<p><%= @proyecto.proy_descripcion %></p>
					  <h1>Hola aqui mostrare los miembros del proyecto!</h1>
					<%= button_to projects_details_miembros_path(:id => @proyecto.id) ,{:controller => :projects,
														:action => 'miembros', :class => "button largePadding styleIcon" }, type:"button", :method => "get" do %>
														Equipo de Trabajo
													<% end %>
				</header>
</section>