	 
<h2>Miembros del proyecto</h2>
<%@miembros.each do |user| %>
						 <%iduser=user.user_id
						 miembro= User.find(iduser)%>	
	  					<h3>Miembro</h3>
	  					<h6><%=miembro.nombres%></h6>
						<h6><%=miembro.apellidos%></h6>
					  	<h6><%=miembro.email%></h6>
	<%end %>