.tituloNovedades
{
	text-align: center ; 
	font-size: 2.5em;	
}

.subtituloNovedades
{
	text-align: center ; 
	font-size: 2em;	
}


.parrafoNovedades
{
  text-align: left;
  font-size: 1.3em;
}

.imagenNovedadesCentro
{
   
   display:block;
   margin:0 auto 0 auto;
}
